@{
    ViewBag.Title = "Mój koszyk";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<main>
    <div class="wrapper">
        @Html.Partial("~/Views/Shared/_UserMenu.cshtml")
        <div class="content">
            <h2>@ViewBag.Title</h2>
            <div id="cart-content">
                @Html.Action("GetCart")
            </div>            
        </div>
    </div>
</main>