
@{
    ViewBag.Title = "Moje zamówienia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="wrapper">
        <div class="column">
            @Html.Partial("_CartMenu")
        </div>
        <div class="column">
            <div class="general-form">
                <h2>@ViewBag.Title</h2>

                
            </div>
        </div>
    </div>
</main>

