@model ICollection<GameStore.ViewModels.OrderViewModel>

@{
    ViewBag.Title = "Moje zamówienia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="wrapper">
        @Html.Partial("_UserMenu")
        <div class="content">
            <h2>@ViewBag.Title</h2>
            <div id="my-orders">
                @Html.Partial("_Orders", Model)
            </div>
        </div>
    </div>
</main>