@model IEnumerable<GameStore.ViewModels.ProductListItem>

@{
    ViewBag.Title = "Produkty";
}

<main>
    <div class="wrapper">

        @Html.Action("InitializeFilter", new { keyword = string.Empty /*, platformId = value, genreId = value */ })

        <!-- TU DODAĆ LISTE WYNIKÓW WYSZUKIWANIA -->

    </div>
</main>