@model IEnumerable<GameStore.ViewModels.ProductListItem>

@{
    ViewBag.Title = "Produkty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="wrapper">

        @if(ViewBag.Filter != null)
        {
            Html.RenderPartial("_FilterAndSort", ViewBag.Filter as GameStore.ViewModels.ProductFilterModel);
        }
        else
        {
            Html.Action("InitializeFilter", new { keyword = ViewBag.Keyword, platformId = ViewBag.Platform, genreId = ViewBag.Genre, pegiId = ViewBag.Pegi });
        }

        <div class="content product-seach">
            <h2>Wyszukiwanie produktów</h2>

            <div id="search-results">
                @Html.Partial("_SearchProductsResult", Model)
            </div>
        </div>
    </div>
</main>