@model ICollection<GameStore.ViewModels.ProductListItem>

@{
    ViewBag.Title = "Produkty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="wrapper">

        @if(ViewBag.Filter != null)
        {
            Html.RenderPartial("_FilterAndSort", ViewBag.Filter as GameStore.ViewModels.ProductFilterModel);
        }
        else
        {
            Html.Action("InitializeFilter", new { keyword = ViewBag.Keyword, platformId = ViewBag.Platform, genreId = ViewBag.Genre, pegiId = ViewBag.Pegi });
        }

        <div class="content product-seach">
            <h2>Wyszukiwanie produktów</h2>
            <div class="select-display-type">
                <a id="display-type-list"></a>
                <a id="display-type-tiles"></a>
            </div>

            <div id="search-results">
                @Html.Partial("_SearchProductsResultTiles", Model)
            </div>
        </div>
    </div>
</main>

<script>
    $("#display-type-tiles").click(function () {
        var mode = $("#filter-display-mode");
        if (mode.val() != "False") {
            mode.val("False");
            $("#search-filter-form").submit();
        }
    });

    $("#display-type-list").click(function () {
        var mode = $("#filter-display-mode");
        if (mode.val() != "True") {
            mode.val("True");
            $("#search-filter-form").submit();
        }
    });
</script>