
@{
    ViewBag.Title = "Mój profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="wrapper">
        <div class="column">
            @Html.Partial("_UserMenu")
        </div>
        <div class="column">
            <div class="general-form" style="float: left; margin-left: 30px;">
                <h2>Jesteś zalogowany jako @User.Identity.Name</h2>
            </div>
        </div>
    </div>
</main>

