@{
    ViewBag.Title = "Potwierdzenie zresetowania hasła";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main style="max-height: 460px;">
    <div class="wrapper">
        <div class="column" style="width: 100%;">
            <div class="general-form" style="margin: 0 auto; text-align: center;">
                <h2>@ViewBag.Title</h2>
                <p class="text-success" style="text-align: center;">
                    Twoje hasło zostało zresetowane. Proszę @Html.ActionLink("kliknąc tu, żeby się zalogować", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
    </div>
</main>