<ul class="side-menu">
    <li><h3>Panel administratora</h3></li>
    <li><a href="">Dodaj produkt</a></li>
    <li><a href="">Zarządzaj produktami</a></li>
    <li><a href="">Zarządzaj użytkownikami</a></li>
    <li><a href="">Zarządzaj kategoriami</a></li>
    <li><a href="">Zarządzaj rodzajami</a></li>
    <li><a href="">Zarządzaj zamówieniami</a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
</ul>