<ul class="side-menu">
    <li><h3>Konto użytkownika</h3></li>
    <li><a href='@Url.Action("Index", "Cart")'>Mój koszyk</a></li>
    <li><a href='@Url.Action("MyOrder", "Cart")'>Moje zamówienia</a></li>
    <li><a href='@Url.Action("MyAddresses", "Account")'>Moje adresy</a></li>
</ul>
