<div class="side-menu">
    <h2>Pomoc</h2>
    <ul>
        <li><a href='@Url.Action("FAQ","Home")'>Najczęstsze pytania</a></li>
        <li><a href='@Url.Action("ShippingCosts","Home")'>Koszty wysyłki</a></li>
        <li><a href='@Url.Action("Complaints","Home")'>Zwroty i reklamacje</a></li>
    </ul>
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> 4895d368d939e90ab40945faa072c2d914fb739b
