@if (Request.IsAuthenticated)
{
    <ul class="side-menu">
        <li><h3>Konto użytkownika</h3></li>
        <li><a href='@Url.Action("ChangePassword", "Manage")'>Zmiana hasła</a></li>
        <li><a href='@Url.Action("ChangeAddress", "Manage")'>Zmiana adresu</a></li>
        
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
        }
    </ul>
}

