@model GameStore.ViewModels.MainPageViewModel

@{
    ViewBag.Title = "Strona główna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <ul id="slider">
        <li><div id="slider-img1" class="slider-img"></div></li>
        <li><div id="slider-img2" class="slider-img"></div></li>
    </ul>
    <span id="slider-prev" class="slider-control"></span>
    <span id="slider-next" class="slider-control"></span>
</header>

<main style="margin-top: 500px;">
    <div class="wrapper">
        <div class="background-white">
            @Html.Partial("_Top10", Model.Top10)
            <div id="main-recommended">
                @Html.Partial("_PreOrders", Model.PreOrders)
                @Html.Partial("_Discount", Model.Discount)
            </div>
        </div>
    </div>
</main>



