
@{
    ViewBag.Title = "Polityka prywatności";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header></header>
<main>
    <div class="wrapper">
        @Html.Partial("_HomeMenu")
        <div class="content">
            <h2>Polityka prywatności</h2>
            <h3>Vestibulum sit amet</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum ullamcorper efficitur. Proin a risus felis. Sed volutpat lorem quis accumsan cursus. Morbi laoreet elementum odio vel volutpat. Praesent et condimentum sapien. Nam bibendum lobortis tellus, sit amet facilisis mi. Nulla ultricies, nunc ac laoreet semper, magna elit consequat lorem, vel dignissim lacus dolor sed turpis. Vivamus at fermentum dui. Quisque eget congue lectus.
            </p>
            <p>
                Pellentesque auctor tellus in mi molestie, sit amet fringilla nibh maximus. Nam id magna sit amet ex semper condimentum at eu tellus. Vestibulum sit amet lobortis sem, et ultricies ex. Etiam eu massa purus. Praesent tempor ornare diam, ut gravida nibh vestibulum a. Donec sit amet eros ligula. Nunc efficitur leo mauris, eu rhoncus metus euismod sit amet. Nam finibus cursus commodo. Integer et accumsan lacus, ac facilisis arcu. Pellentesque volutpat lacus sit amet urna vulputate finibus. Donec commodo quam eu lectus eleifend, sit amet blandit lectus lobortis. Curabitur vel dictum ex. Sed fringilla mauris et erat imperdiet pretium.
            </p>
            <h3>Quisque eu nisi eget</h3>
            <p>
                Quisque in tristique lectus. Vivamus ultricies semper porta. Fusce sed porta dui. Suspendisse magna arcu, volutpat id suscipit sed, malesuada a arcu. Morbi et accumsan lorem. Donec a elementum ipsum, eu hendrerit nisi. Quisque accumsan non nisi sed convallis. Phasellus luctus id erat a ornare. Nam leo diam, blandit vitae erat quis, porttitor eleifend justo. Duis mollis mollis dictum. Morbi at ultricies ante. Etiam quis volutpat neque. Pellentesque tempor laoreet libero, eget ornare eros fermentum ac. Morbi non auctor diam.
            </p>
            <h3>Dignissim lacus dolor</h3>
            <p>
                Ut viverra maximus quam, laoreet faucibus nunc gravida at. Ut porttitor orci vel dui pretium, mollis lobortis est auctor. Nulla facilisi. Praesent nec ultrices sem. Sed luctus semper facilisis. Cras nisl massa, lacinia sit amet urna sed, scelerisque finibus massa. Praesent placerat lectus quis augue vulputate, molestie aliquet erat faucibus. Duis sed viverra risus, et viverra dui. Morbi nec ex metus. Phasellus maximus turpis justo, a tincidunt nunc tincidunt ut. Quisque eu nisi eget ligula lacinia vestibulum ut id lorem.
            </p>
            <p>
                In hac habitasse platea dictumst. Integer in dictum est. Cras lobortis justo vitae diam sodales eleifend. Praesent vel massa dictum nisi interdum tristique. Nunc efficitur porta ipsum sit amet tincidunt. Curabitur viverra mauris et laoreet sodales. Aenean et condimentum nisl. Vestibulum scelerisque felis libero, at scelerisque neque mollis vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in ipsum vitae magna ullamcorper luctus vel et nibh. Aenean sit amet nibh a mi porta rhoncus et et sapien. Nulla justo urna, porta sed tincidunt ut, viverra ac velit. Vivamus sit amet metus pulvinar, hendrerit ligula nec, varius arcu. Nullam scelerisque auctor imperdiet.
            </p>
        </div>
    </div>
</main>

